<footer class="site-footer">
  <div class="footer-row">
    <img src="{{ '/images/bottom_01.jpg' | relative_url }}" width="35" height="34" alt="">
    <img src="{{ '/images/bottom_02.jpg' | relative_url }}" width="173" height="34" alt="">
    <img src="{{ '/images/bottom_03.jpg' | relative_url }}" width="620" height="34" alt="" class="footer-stretch">
    <img src="{{ '/images/bottom_04.jpg' | relative_url }}" width="72" height="34" alt="">
  </div>
  <div class="footer-row">
    <img src="{{ '/images/bottom_05.jpg' | relative_url }}" width="35" height="59" alt="">
    <img src="{{ '/images/bottom_06.jpg' | relative_url }}" width="173" height="59" alt="">
    <img src="{{ '/images/bottom_07.jpg' | relative_url }}" width="620" height="59" alt="">
    <img src="{{ '/images/bottom_08.jpg' | relative_url }}" width="72" height="59" alt="">
  </div>
</footer>
